
html{
  --black:rgb(17, 18, 17);
  --cb: cubic-bezier(0.22,1,0.36,1);
  --white:rgb(250, 236, 210);
  --grey: rgb(68, 68, 68);
  --green: rgba(223, 252, 58, 0.619);
}

nav {

  background-color: var(--green);

}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
    cursor: arrow;
    color: white;
    background-color: var(--black);
    margin: 0px;
    transition: opacity ease-in 0.2s;
}

header{
    background-color: var(--black);
    height: 2rem;
    border: 2rem;
     margin: 0px;
     margin-top: 101px
  }

nav div{
    background-color: var(--black);
    height: 2rem;
    border-bottom: 0.1rem outset rgba(223, 252, 58, 0.619);
    font-weight: 100;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

/* Centering the gallery section + about section */
main{
     background-color: var(--green);
     border: 2rem;
     margin: 0px;
     margin-top: 100px;
     margin-left: auto;
     margin-right: auto;
     width: 100%;
}

/* WHITE LINE BETWEEN PHOTO GALLERY ROWS */
main div {
   border-bottom: 0.15rem outset rgb(221, 255, 53);   
}

main img{
    filter: grayscale(1);
    position: relative;
    float: left;
    width: auto;
    height: auto; 
}

main section {
  position:unset;
    width: auto;    
  flex-basis: 33.333%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex-grow: 1;    
}

.gallery-image {
  opacity: 1;
  display: flex;
  /* height: 300px;
  width: 400px; */
  height: 100%;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;  
}

.gallery-image:hover{
  opacity: 0.3;
}


aside{
  background-color: rgba(223, 252, 58, 0.619);
  /* background-color: #364156; */
  color: var(--black);
  height: flex;
  padding: 2px;
}

footer{
     background-color: --black;
     grid-column: 1/13;
     margin: 10px;
}

nav a {
  padding-right: 0px;
}

nav section {
  padding-right: 25px;
}

nav div img{
  width: 95px;
  object-fit: cover;
  object-position: center;
}
/* INDIVIDUAL NAV BAR TILES */
nav div h3{
 line-height: 3.5rem;
 padding-right: 5px;
}

.navlink {
  text-decoration: none;
  color: white;
}

.navlink:hover {
  color: rgba(239, 242, 54, 0.797);
}

.navbar {
 overflow: hidden; 
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 1;

}

.nav-flex-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    }
   
.grid-container > h3 {
    grid-column: 1/13;
}

.col1 {
    grid-column: 1/3;
}
.col2 {
    grid-column: 5/9;
}
.col3 {
    grid-column: 12/13;
}

/* TESTING FOR IMAGE EFFECTS */

.break{
  flex-basis: 100%;
  height: 0px;
}

.hover-underline {
  display: inline-block;
  position: relative;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: .5px;
  bottom: .7rem;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom left;
  transition: transform 0.4s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*  MAP DARK MODE */

.my-map {
  filter:
    grayscale(1);
  /* border: none; */
  border: 2px outset black;
  height: 80vh;
  width: 88%;  
}





/* .nav-white {
  background-color: white;
  color: black;
} */
/*
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.galleryimage:hover .image {
  opacity: 0.3;

.container1:hover .middle {
  opacity: 1;
}

*/
.text {
  background-color: var(--grey);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.footerimage {
  width: 7%;
  padding: 0%;
  border: 0%;

}

.hidden {
  display: none;
}


/*  THIS IS FOR GETTING YOUR WEBSITE TO FIT THE SCREEN */
/* @media screen and (max-width:600px) {
  nav-div 
}

@media screen and (max-width:600px) {
  nav-div 
} */


.col1{
/* grid template 1st */
}

.col2{
  /* grid template 2nd */
}