 body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
    cursor: crosshair;
    color: white;
    background-color: rgba(0, 0, 0, 0.938);
    margin: 10px;
    transition: opacity ease-in 0.2s;
}

header{
    background-color: rgb(17, 18, 17);
    grid-column: 1/13;
    height: 5em;
}

nav{
    background-color: rgb(86, 164, 237);
    grid-column: 1/13;
}

main{
     background-color: rgb(68, 68, 68);
     grid-column: 1/13;
}

aside{
     background-color: rgb(96, 42, 42);
     grid-column: 13/13;
}

footer{
     background-color: rgb(66, 99, 37);
     grid-column: 1/13;
}

img{
    width: 10em;
}



/* TESTING FOR IMAGE EFFECTS */


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container1:hover .image {
  opacity: 0.3;
}
.container2:hover .image {
  opacity: 0.3;
}
.container3:hover .image {
  opacity: 0.3;
}
.container1:hover .middle {
  opacity: 1;
}

.container2:hover .middle {
  opacity: 1;
}

.container3:hover .middle {
  opacity: 1;
}
.text {
  background-color: #646464;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.footerimage {
  width: 7%;
  padding: 0%;
  border: 0%;

}





