body,
html {
    margin: 0;
    padding: 0;
    width:  100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-family: 'Times New Roman', sans-serif;
}

#container {
    text-align: center;
}

#title {
    color: #fff;
    font-size: 6em;
}


#neon-cursor {
    width: 20px;
    height: 20px;
    border: 2px solid rgb(243, 255, 70);
    border-radius: 50%;
    cursor: crosshair;
    position: absolute;
    pointer-events: none;
    box-shadow: 0 0 10px rgb(220, 251, 42), 0 0 5px rgb(238, 255, 0), 0 0 99px rgb(174, 255, 0), 0 0 40px rgb(255, 251, 11);
    transition: transform 2s, box-shadow 0.1s;
    transform: translate(-50%, -50%);
}