
html{
  --black:rgb(17, 18, 17);
  --cb: cubic-bezier(0.22,1,0.36,1);
  --white:rgb(250, 236, 210);
  --grey: rgb(68, 68, 68);
  --green: rgba(223, 252, 58, 0.619);
}

nav {
  background-color: var(--green);
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
    cursor: arrow;
    color: white;
    background-color: rgba(0, 0, 0, 0.938);
    margin: 0px;
    transition: opacity ease-in 0.2s;
}

header{    
     margin: 0px;
     margin-top: px;
     text-align: center;
  }

header h1 {
    margin-bottom: -15px;
}

nav div{
    background-color: var(--black);
    height: 2rem;
    border-bottom: 0.1rem outset rgba(223, 252, 58, 0.619);
    font-weight: 100;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

main{
     background-color: var(--grey);
}

/* WHITE LINE BETWEEN PHOTO GALLERY ROWS */
main div {
   border-bottom: 0.35rem outset rgb(221, 255, 53);
}

aside{
  background-color: rgba(223, 252, 58, 0.619);
  /* background-color: #364156; */
  color: var(--black);
  height: flex;
}

footer{
     background-color: --black;
     margin: 20px;
     padding: 5px;
}

nav a {
  padding-right: 0px;
}

nav section {
  padding-right: 25px;
}

nav div img{
  width: 95px;
  object-fit: cover;
  object-position: center;
}
/* INDIVIDUAL NAV BAR TILES */
nav div h3{
 line-height: 3.5rem;
 padding-right: 5px;
}

table {
    
    border-collapse: collapse;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

td, th {
    border: 1px solid var(--white);
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: var(--grey)
}

tr:nth-child(odd) {
    background-color: var(--black)
}

/*  Table Within Table - a 'nested' table */
.nested-table {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table tr table td {
    border: 0px solid var(--white);
    text-align: left;
    padding: 15px;
}

table tr table th {
    border: 0px solid var(--white);
    text-align: left;
    padding: 15px;
}


.navlink {
  text-decoration: none;
  color: white;
}

.navlink:hover {
  color: rgba(239, 242, 54, 0.797);
}

.navbar {
 overflow: hidden; 
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 1;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%; 
}

.nav-flex-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;    
}

.profile-image{
    object-fit: cover;
    filter: grayscale(1);
    width: 100%;
    height: 600px;
    position:sticky;
}

/* TESTING FOR IMAGE EFFECTS */


.gallery-image {
  opacity: 1;
  display: flex;
  height: 190px;
  width: 250px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.gallery-image:hover{
  opacity: 0.3;
}

.break{
  flex-basis: 100%;
}

 /* UNDERLINE ANIMATION */
.hover-underline {
  display: inline-block;
  position: relative;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: .5px;
  bottom: .7rem;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom left;
  transition: transform 0.4s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*  MAP DARK MODE */

.my-map {
  filter:
    grayscale(1);
  /* border: none; */
  border: 2px outset black;
  height: 80vh;
  width: 88%;  
}

.text {
  background-color: var(--grey);
  color: white;
  font-size: 16px;
  padding: 16px 10px;
}

.footerimage {
  width: 5%;
  padding: 0%;
  border: none;
  filter:contrast(0);
}

.hidden {
  display: none;
}
